apiVersion: v1
kind: ConfigMap
metadata:
  name: locust-script
data:
  locustfile.py: |
    from locust import HttpUser, task, between
    
    class FastAPIUser(HttpUser):
        wait_time = between(0.1, 0.5)
        
        @task
        def hello_endpoint(self):
            self.client.get("/")
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: locust
      role: master
  template:
    metadata:
      labels:
        app: locust
        role: master
    spec:
      containers:
      - name: locust
        image: locustio/locust
        ports:
        - containerPort: 8089
        - containerPort: 5557
        volumeMounts:
        - name: locust-script
          mountPath: /home/locust
        command: ["locust"]
        args: ["--master", "--host=http://fastapi-service:8000"]
      volumes:
      - name: locust-script
        configMap:
          name: locust-script
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: locust-worker
spec:
  replicas: 5  # 5 worker pods to distribute load
  selector:
    matchLabels:
      app: locust
      role: worker
  template:
    metadata:
      labels:
        app: locust
        role: worker
    spec:
      containers:
      - name: locust
        image: locustio/locust
        volumeMounts:
        - name: locust-script
          mountPath: /home/locust
        command: ["locust"]
        args: ["--worker", "--master-host=locust-master"]
      volumes:
      - name: locust-script
        configMap:
          name: locust-script
---
apiVersion: v1
kind: Service
metadata:
  name: locust-master
spec:
  type: NodePort
  selector:
    app: locust
    role: master
  ports:
  - name: web
    port: 8089
    targetPort: 8089
    nodePort: 30089
  - name: master
    port: 5557
    targetPort: 5557